*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
  :root{ /*задание базового размера шрифта html*/
    font-size: 16px;
  }
  body.scroll {
    overflow: hidden;
  }

  $color-light-s: #FAFAFA;
  $color-light-l:  #F6F6F6;
  $color-light-xl: #FFFFFF;
  $color-dark-s: #CDCDCD;
  $color-dark-m: #B2B2B2;
  $color-dark-l: #545454;
  $color-dark-xl: #4C4C4C;
  $color-dark-2xl: #444444;
  $color-dark-3xl: #292929;
  $color-primary: #F1CDB3;
  $color-primary-light: #FDDCC4;

  $start-screen-gradient-background: url(../../assets/images/noise_lines_transparent@2X.png), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
      #211F20;
  $footer-gradient-background: url(../../assets/images/noise_lines_transparent@2X.png),
       radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
      #211F20;
  $card_hover: 0rem 0.125rem 2.1875rem 0.875rem rgba(13, 13, 13, 0.04);  


  @mixin h1{
      font: {
        family: Georgia;
        size: 2rem;
        weight: normal;
        style: normal;
        }
      line-height: 110%;
      letter-spacing: 0.06em;
  }
  @mixin h2{
      font: {
        family: Georgia;
        size: 2.75rem;
        weight: normal;
        style: normal;
        }
      line-height: 130%;
  }
  @mixin h3{
      font: {
        family: Georgia;
        size: 2.1875rem;
        weight: normal;
        style: normal;
        }
      line-height: 130%;
      letter-spacing: 0.06em;
  }
  @mixin h3-mobile{
    font: {
      family: Georgia;
      size: 1.5625rem;
      weight: normal;
      style: normal;
      }
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  @mixin h4{
      font: {
        family: Georgia;
        size: 1.25rem;
        weight: normal;
        style: normal;
      }
      line-height: 115%;
      letter-spacing: 0.06em;
  }
  @mixin h5{
      font: {
        family: Georgia;
        size: 0.9375rem;
        weight: normal;
        style: normal;
      }
      line-height: 110%;
      letter-spacing: 0.06em;
  }
  @mixin paragraph-l{
      font: {
        family: Arial;
        size: 0.9375rem;
        weight: normal;
        style: normal;
      }
      line-height: 160%;     
  }
  @mixin paragraph-s{
      font: {
        family: Arial;
        size: 0.75rem;
        weight: normal;
        style: italic;
      }
      line-height: 150%;
  }
  @mixin donation-description{
      font: {
        family: Arial;
        size: 0.75rem;
        style: italic;
        weight: 400;
      }  
      line-height: 1.125rem;
      letter-spacing: 0px;
      text-align: justify;
  }  
  @mixin logo_title{
      font: {
        family: Georgia;
        size: 2rem;
        weight: normal;
        style: normal;
      }
      line-height: 110%;
      letter-spacing: 0.06em;
  }
  @mixin logo_subtitle{
      font: {
        family: Arial;
        size: 0.8125rem;
        weight: normal;
        style: normal;
      }
      line-height: 110%;
      letter-spacing: 0.11em;
  }
  @mixin slider_button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.25rem;
      height: 3.25rem;
      box-shadow: inset 0 0 0 3px $color-primary;
      //border: 3px solid $color-primary;
      border-radius: 100%;
      padding: 1.1875rem;
      background: none;
      border: none;
      cursor: pointer;
    
        &:hover{
          box-shadow: none;
          background-color: $color-primary-light;
        }
  }
  @mixin button{
      border: none;
      border-radius: 100px;
      padding: 0.9375rem 2.8125rem;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 1.0625rem;
      line-height: 130%;
      letter-spacing: 0.055em;
      cursor: pointer;
      outline: none;
      transition-duration: 0.5s;
  }
  @mixin button__primary{
      background-color: $color-primary;
      @include button;

        &:hover{
          background-color: $color-primary-light; 
        }
  }
  @mixin button__secondary{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $color-primary;
      @include button;
      
        &:hover{
          box-shadow: none;;
          background-color: $color-primary-light;
        }  
  }
  @mixin paragraph-mobile-menu{
      font-family: Arial;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      color: $color-light-s;
      line-height: 3.1875rem;
      letter-spacing: 0px;
      text-align: left;
      
  }    

  
 /*wrapper
 ================================================================*/
  
  .wrapper{
      max-width: 75rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      
      @media (min-width: 768px) and (max-width: 1200px) {
        max-width: 44.25rem;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        max-width: 18.75rem;
      }
      &.active {
        
        margin-right: 0;
      }
  }
   
  /*header
  ================================================================*/
  .header{
      
      position: absolute;
      top: 3.75rem;
      width: 100vw;
      
      @media (min-width: 768px) and (max-width: 1200px) {
        top: 1.875rem;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        top: 1.875rem;
      }

      &__wrapper{
        margin-left: auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition-duration: 0.25s;

        &.active {
          width: 300px;
          margin-right: 0;
        }
      }

      &__blackout {
        height: 100vh;
        width: 100%;
    
        z-index: 897;
        opacity: 0;
        visibility: hidden;
        background-color: $color-dark-3xl;
        transition: opacity 0.25s linear, visibility 0.25s linear;
    
        position: fixed;
        top: 0;
        left: 0;
    
        &.active {
            opacity: 0.6;
            visibility: visible;
        }
      }
      
  }
  .menu {
      display: flex;
      width: 27.6875rem;
      z-index: 898;

      @media (min-width: 320px) and (max-width: 767px) {
        width: 20rem;
        height: 100vh;
        min-height: 42.5rem;

        position: fixed;
        top: 0;
        right: -100%;
        visibility: hidden;

        background-color: $color-dark-3xl;
        transition-duration: 0.25s;

        &.active {
            visibility: visible;
            right: 0;
        }
        
      }  
    }
 
 .menu2{
      display: none;
      z-index: 899;

      @media (min-width: 320px) and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem;
        margin-right: 2.6875rem; 
      }
      &.active {
        transform: rotate(90deg);
      }
      &__image {
        margin-bottom: 0.5rem;
      }
  } 
  .logo {
      display: flex;
      flex-direction: column; 
      z-index: 1000;
      
        &__title{
          @include logo_title;
          color: $color-primary;

          & h1{
            @include h1;
            margin: 0;
          }
        }
        &__subtitle{
          @include logo_subtitle;
          color: $color-light-xl;
          margin-top: 0.625rem;
          //align-items: center;
        }
  }
  .list{
      display: flex;
      width: 100%;
      list-style-type: none;
      justify-content: space-between;

      @media (min-width: 320px) and (max-width: 767px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }   
      
        &__item{
          display: flex;
          align-items: center;

           
          
            .list__link{
              color: $color-dark-s;
              font-family: Arial;
              font-size: 0.9375rem;
              font-weight: normal;
              line-height: 160%;
              text-decoration: none;
            
                &__active{
                  color: $color-light-s;
                  border-bottom: solid 3px $color-primary;
                  cursor: pointer;
                }
                &_disabled{
                 
                  cursor: default;
                  pointer-events: none;
                }
                &_will{
                  
                  cursor: pointer;
                }
                &:hover{
                  color: $color-light-s;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    @include paragraph-mobile-menu;
                                
                } 

                
            }
        }
        @media (min-width: 320px) and (max-width: 767px) {
        
          .list__item + .list__item {
                margin-left: 0;
                margin-top: 43px;
          }
        }  
            
         
  }
  
  /*section hero
================================================================*/
  main {
      display: flex;
      flex-direction: column;
  }
  section.hero{    
      display: flex;
      background: $start-screen-gradient-background;
      padding-top: 11.25rem;
      
      @media (min-width: 768px) and (max-width: 1200px) {
        padding-top: 9.375rem;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 9.375rem;
      }
  }
  .hero__content{
      width: 100%;
      display: flex;
      justify-content: center;

      @media (min-width: 768px) and (max-width: 1200px) {
        flex-direction: column;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
      }
    
        &__inner{
            max-width: 28.75rem;
            padding-bottom: 5rem;
            margin-right: 2.625rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: 768px) and (max-width: 1200px) {
              margin: 0 auto 6.25rem auto;
              padding-bottom: 0;
            }

            @media (min-width: 320px) and (max-width: 767px) {
              margin: 0 auto;
              padding-bottom: 6.5625rem;
            }
        
            .hero__title{
                max-width: 19.375rem;
                @include h2;
                color: $color-light-xl;
                margin-top: 0;

                @media (min-width: 320px) and (max-width: 767px) {
                  @include h3-mobile;
                  max-width: 12.5rem;
                  margin: 0 auto;
                  text-align: center;
                }
            }
            .hero__subtitle{
                color: $color-dark-s;
                @include paragraph-l;
                margin-top: 2.1875rem;
                
                @media (min-width: 768px) and (max-width: 1200px) {
                  margin-top: 2.625rem;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                  margin-top: 2.625rem;
                  text-align: center;
                }

            }
            .hero__button{
                width: 12.9375rem;
                margin-top: 2.5625rem;
                @include button__primary;

                @media (min-width: 768px) and (max-width: 1200px) {
                  margin-left: auto;
                  margin-right: auto;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 2.625rem;
                }

            }
        }
        .hero__image-wrapper{
          display: flex;

          @media (min-width: 768px) and (max-width: 1200px) {
            margin-left: 8.6875rem;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            margin-left: 2.5rem;
          }
                   
            .hero__image{
                width: 100%;
                max-width: 43.625rem;
                height: 45.5rem;

                @media (min-width: 768px) and (max-width: 1200px) {
                  max-width: 35.5625rem;
                  height: 37.0625rem;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                  max-width: 16.25rem;
                  height: 16.9856rem;
                }
            }
        }
  }
    
 /*section about
================================================================*/ 
    
  .about{
    display: flex;
    
    &__wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 5rem 2.5rem 6.25rem 2.5rem;

        @media (min-width: 768px) and (max-width: 1200px) {
          flex-direction: column-reverse;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          flex-direction: column-reverse;
          padding: 2.625rem 0;
        }
        
    }
    
    & .wrapper{
        justify-content: center;
    }
    

    &__image-wrapper{
        display: flex;
        padding-right: 7.5rem;

        @media (min-width: 768px) and (max-width: 1200px) {
          padding-top: 5rem;
          padding-right: 0;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          padding-top: 2.625rem;
          padding-right: 0;
        }
    }
    &__image{
        width: 100%;

        @media (min-width: 768px) and (max-width: 1200px) {
          width: 70%;
          margin: 0 auto;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          width: 86%;
          margin: 0 auto;
        }

    }
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 26.875rem;
    }  
    &__title{
        color: $color-dark-l;
        @include h3;

        @media (min-width: 320px) and (max-width: 767px) {
          @include h3-mobile;
          text-align: center;
        }

        span{
          display: block;
          //letter-spacing: 0.2rem;
        }
    }
    &__description{
        margin-top: 1.5625rem;

        @media (min-width: 320px) and (max-width: 767px) {
          padding: 0 0.9375rem;
          text-align: justify;
        }   

        p{
          color: $color-dark-xl;
          @include paragraph-l;
        }

    }
    &__description p:nth-child(2){
        margin-top: 1.5625rem;

        @media (min-width: 320px) and (max-width: 767px) {
          margin-top: 1.4rem;
        }
    }
  }

/*section pets
================================================================*/ 
  .pets{
    padding-top: 5rem;
    padding-bottom: 6.25rem;

    @media (min-width: 320px) and (max-width: 767px) {
      padding-top: 2.625rem;
      padding-bottom: 2.625rem;
    }
    
      &__wrapper{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      &__title{
          max-width: 25rem;
          @include h3;
          text-align: center;
          color: $color-dark-l;
          span{
            display: block;
            //letter-spacing: 0.2rem;

            @media (min-width: 320px) and (max-width: 767px) {
              @include h3-mobile;
            }
          }
      }
      &__content{
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (min-width: 320px) and (max-width: 767px) {
            //flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
          }

          .slider-button{
            @include slider_button;
            margin-right: 0.5rem;

            @media (min-width: 768px) and (max-width: 1200px) {
              margin-right: 0;
            }

            @media (min-width: 320px) and (max-width: 767px) {
              order: 2;
              margin-right: 80px;
             
     
            }
          }
          .slider-button_reverted{
            transform: rotate(180deg);
            @include slider_button;
            margin-left: 0.5rem;

            @media (min-width: 768px) and (max-width: 1200px) {
              margin-left: 0;
            }
            
            @media (min-width: 320px) and (max-width: 767px) {
              order: 3;
              margin-left: 0;
              
            }
          }
      }
      &__cards{
          display: flex;
          padding: 3.75rem 0;
          //margin: 0;

          @media (min-width: 768px) and (max-width: 1200px) {
            padding: 3.75rem 0;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            padding: 2.625rem 0 1.25rem 0;
          }
   
        
          &-item{
              display: flex;
              flex-direction: column;
              //justify-content: center;
              //align-items: center;
              border-radius: 9px;
              margin: 0 2.8125rem;
              
              @media (min-width: 768px) and (max-width: 1200px) {
                margin: 0 0.75rem;
              }
              @media (min-width: 320px) and (max-width: 767px) {
                margin: 0 0.9375rem;
              }


              &:hover{
                box-shadow: $card_hover;
              }
          }
          &-item:nth-child(1){
            @media (min-width: 768px) and (max-width: 1200px) {
              margin: 0 1.25rem 0 0.75rem;
            }
          }
          &-item:nth-child(2){
            @media (min-width: 768px) and (max-width: 1200px) {
              margin: 0 0.75rem 0 1.25rem;
            }
            @media (min-width: 320px) and (max-width: 767px) {
              display: none;
            }
          }
          &-item:nth-child(3){
              @media (min-width: 768px) and (max-width: 1200px) {
                display: none;
              }
              @media (min-width: 320px) and (max-width: 767px) {
                display: none;
              }
          }

          &-image{
              width: 100%;  
              @media (min-width: 768px) and (max-width: 1200px) {
                width: 100%;
              }             
              
          }
          &-content{
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-bottom: 1.875rem;
          }
          &-title{
              text-align: center;
              @include h4;
              //letter-spacing: 0;
              margin: 1.875rem 0;
          }
          &-button{
              @include button__secondary;
          }
      }
      &__button{
          @include button__primary;

          @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 2.625rem;
          }
      }
    
  }

  .pets__slider__card {
    margin: 0 45px;

    border-radius: 9px;
    background-color: $color-light-s;
    transition: box-shadow 0.14s linear, background-color 0.14s linear;

    &:hover {
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    @media (max-width: 1280px) {
        margin: 0 20px;
    }
}

.pets__card__header {
    width: 270px;
    height: 270px;
}

.pets__card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__card__title {
    margin-top: 30px;
    margin-bottom: 30px;

    color: $color-dark-l;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.pets__card__button {
    margin-bottom: 30px;

    @include button;
    color: $color-dark-3xl;
    padding: 13px 43px;
    background-color: transparent;
    border: 2px solid $color-primary;

    &:hover {
        border: 2px solid $color-primary-light;
    }
}
.pets__blackout {
  height: 100vh;
  width: 100%;

  z-index: 998;
  opacity: 0;
  visibility: hidden;
  background-color: $color-dark-3xl;
  transition: opacity 0.25s linear, visibility 0.25s linear;

  position: fixed;
  top: 0;
  left: 0;

  &.active {
      opacity: 0.6;
      visibility: visible;
  }
}

.pets__popup {
  display: flex;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  background-color: #fff;
  border-radius: 9px;

  &.active {
      opacity: 1;
      visibility: visible;
  }
}

.pets__popup__img {
  width: 500px;
  height: 500px;

  img {
      display: block;
      width: 100%;
      border-radius: 0 0 9px 9px;
  }

  @media (max-width: 1280px) {
      width: 350px;
      height: 350px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
      display: none;
  }
}

.pets__popup__content {
  margin: 50px 20px 0 29px;
  width: 351px;

  @media (max-width: 1280px) {
      margin: 10px 9px 0 11px;
      width: 265px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
      margin: 10px;
      width: 220px;
  }
}

.pets__popup__name {
  margin-bottom: 10px;
  @include h3;

  @media (min-width: 768px) and (max-width: 1200px) {
      text-align: center;
  }
}

.pets__popup__type {
  margin-bottom: 40px;
  @include h4;

  @media (max-width: 1280px) {
      margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
      text-align: center;
  }
}

.pets__popup__description {
  margin-bottom: 40px;
  @include h5;
  line-height: normal;

  @media (max-width: 1280px) {
      margin-bottom: 20px;
      font-size: rem(13px);
      line-height: 1.1;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
      margin-bottom: 24px;
      text-align: justify;
  }
}

.pets__popup__info {
  list-style-type: disc;
  padding-left: 14px;

  li {
      margin-bottom: 12px;
      color: $color-primary;
      @include h5;

      &:last-child {
          margin-bottom: 0;
      }

      @media (max-width: 1280px) {
          margin-bottom: 7px;

          &:last-child {
              margin-bottom: 0;
          }
      }

      strong {
          color: #000;
      }

      span {
          color: #000;
          font-weight: 400;
      }
  }
}

.pets__close {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $color-primary;
  transition: background-color 0.25s linear;

  position: absolute;
  top: 0;
  right: 0;
  margin-top: -52px;
  margin-right: -42px;

  &:hover {
      background-color: $color-primary;
  }

  &.active {
      background-color: $color-primary;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
      margin-right: -26px;
  }
}


/*section help
================================================================*/ 

  .help{
      padding-top: 5rem;
      padding-bottom: 3rem;

      @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
      }
    
      &__wrapper{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      &__title{
          max-width: 25rem;
          @include h3;
          text-align: center;
          color: $color-dark-l;

          @media (min-width: 320px) and (max-width: 767px) {
            @include h3-mobile;
          }

          span{
            display: block;
            //letter-spacing: 0.2rem;
          }
      }
    &__content{
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      margin-top: 3.75rem;

      @media (min-width: 320px) and (max-width: 767px) {
        margin-top: 2.625rem;
      }

        &-cards{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @media (min-width: 768px) and (max-width: 1200px) {
              padding: 0 2.4375rem;
            }
            @media (min-width: 320px) and (max-width: 767px) {
              justify-content: start;
              margin: 0 0.3125rem;
            }
        }
        &-cards-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 3.4375rem;

            @media (min-width: 768px) and (max-width: 1200px) {
              width: 10.625rem;
            }
            @media (min-width: 320px) and (max-width: 767px) {
              width: 8.125rem;
              margin-bottom: 2rem;
            }

            &:not(:nth-child(5n)){
              margin-right: 7.5rem;

              @media (min-width: 768px) and (max-width: 1200px) {
                margin-right: 0;
              }
              @media (min-width: 320px) and (max-width: 767px) {
                margin-right: 0;
              }
            }
            &:last-child{
              margin-right: 0;
              @media (min-width: 320px) and (max-width: 767px) {
              
              margin-bottom: 0;
              }
            }

            @media (min-width: 768px) and (max-width: 1200px) {
              &:not(:nth-child(3n)){
                margin-right: 3.75rem;
              }
            }
            @media (min-width: 320px) and (max-width: 767px) {
              &:not(:nth-child(2n)){
                margin-right: 1.875rem;
              }
            }   
        }
    }
    &__cards-image{
        margin: 0 auto; 
        
        @media (min-width: 320px) and (max-width: 767px) {
          width: 3.125rem;
        }   
    }
    &__cards-title{
        text-align: center;
        @include h4;
        //letter-spacing: 0;
        margin-top: 1.875rem;

        @media (min-width: 320px) and (max-width: 767px) {
          @include h5;
          margin-top: 1.25rem;
        }
    }
  }      

/*section donation
================================================================*/

  .donation{
      padding-top: 5rem;
      padding-bottom: 6.25rem;

      @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 2.6rem;
        padding-bottom: 2.68rem;
      }

      
      &__wrapper{
          width: 100%;
          display: flex;
          justify-content: center;
          //flex-direction: column;
          align-items: center;

          @media (min-width: 768px) and (max-width: 1200px) {
            flex-direction: column-reverse;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column-reverse;
          }
      }
      
      &__image{
          width: 100%;

          &-wrapper{
              display: flex;
              padding-right: 1.875rem;

              @media (min-width: 768px) and (max-width: 1200px) {
                padding: 3.75rem 0 0 0;
              }
              @media (min-width: 320px) and (max-width: 767px) {
                padding: 2.625rem 1.25rem 0 1.25rem;
              }
          }
      }
      
      &__content{
          max-width: 23.75rem;    
      }
      
      &__title{
          max-width: 25rem;
          @include h3;
          text-align: left;
          color: $color-dark-l;

          @media (min-width: 320px) and (max-width: 767px) {
            @include h3-mobile;
            text-align: center;
          }

          span{
            display: block;
            //letter-spacing: 0.2rem;
          }
      }

      &__bank{
          margin-top: 1.25rem;
          @include h5;
          color: $color-dark-l;

          @media (min-width: 320px) and (max-width: 767px) {
            @include paragraph-l;
            text-align: center;
            letter-spacing: 0;
          }

          &-card{
            display: flex;
            max-width: 21.875rem;
            background-color: $color-primary;
            border-radius: 9px;
            padding: 0.625rem 0.9375rem;
            margin-top: 1.25rem;
            cursor: pointer;

            @media (min-width: 768px) and (max-width: 1200px) {
              margin-top: 1.1rem;
            }

            @media (min-width: 320px) and (max-width: 767px) {
              margin-right: 9px;
              margin-left: 9px;
            }
            
            &:hover {
              background-color: $color-primary-light;
            }

            &-image{
              margin-right: 0.9375rem;    
            }

            &-number{
              @include h4;
              color: $color-dark-l;
              
              @media (min-width: 320px) and (max-width: 767px) {
                @include h5;
                padding-top: 3px;
                padding-bottom: 3px;
              }

              & a#Number{
                text-decoration: none;
                color: $color-dark-l;
              }
            }
        }
      }
      
      &__text{
          @include paragraph-s;
          color: $color-dark-m;
          margin-top: 1.25rem;
          
          @media (min-width: 320px) and (max-width: 767px) {
            @include donation-description;
            margin-right: 10px;
            margin-left: 10px;
          }
          
      }
  }      
/*footer
================================================================*/
  .footer{
      height: 21.875rem;
      background: $footer-gradient-background;
      padding-top: 2.5rem;
     //padding-bottom: 6.25rem;

      @media (min-width: 768px) and (max-width: 1200px) {
        height: 39.9375rem;
        padding-top: 1.875rem;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        height: 50.5625rem;
        padding-top: 1.875rem;
      }

      &__wrapper{
          width: 100%;
          display: flex;
          justify-content: space-between;
          //flex-direction: column;
          //align-items: center;
          
          @media (min-width: 768px) and (max-width: 1200px) {
            flex-wrap: wrap;
            padding: 0 2.125rem;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
          }

      }
      &__contacts{
          margin-top: 1.125rem;
          margin-right: 10rem;
          max-width: 17.5rem;

          @media (min-width: 768px) and (max-width: 1200px) {
            margin-top: 0;
            margin-right: 3.75rem;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 0;
            margin-right: 0;
            max-width: 19.5rem;
          }

          &-title{ 
              @include h3;
              text-align: left;
              color: $color-light-xl; 

             
              @media (min-width: 320px) and (max-width: 767px) {
                @include h3-mobile;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                width: 270px;
              }
          }
          &-item{
              display: flex;
              margin-top: 2.625rem;

              @media (min-width: 320px) and (max-width: 767px) {
                margin-top: 2.8rem;
                margin-left: 1.5rem; 
                text-align: center;
              }

              &:nth-child(3){
                
                @media (min-width: 320px) and (max-width: 767px) {
                  margin-top: 2.6rem;
                  margin-left: 1.875rem; 
                  //text-align: center;
                }
              }

              & a{
                  text-decoration: none;
              }
          
              &-image{
                  margin-right: 1.25rem;   
                  margin-top: -0.3125rem;
              }

            &-text{
              @include h4;
              display: inline-block;
              color: $color-primary;
            
            }
          }
    }
    &__address{
      margin-top: 1.125rem;
      margin-right: 10rem;
      max-width: 18.75rem;    
      
      @media (min-width: 768px) and (max-width: 1200px) {
        margin-top: 0;
        margin-right: 0;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        margin-top: 2.2rem;
        margin-right: 0;
      }
      
      &-title{ 
        @include h3;
        text-align: left;
        color: $color-light-xl;

        @media (min-width: 320px) and (max-width: 767px) {
          @include h3-mobile;
          margin-right: auto;
          margin-left: auto;
          text-align: center;
          width: 16.675rem;
        }
          
      }
      &-item{
        display: flex;
        margin-top: 2.125rem;

        @media (min-width: 320px) and (max-width: 767px) {
          margin-top: 2.5rem;
        }

        &:nth-child(2){
          & .footer__address-item-image{
            @media (min-width: 768px) and (max-width: 1200px) {
              margin-top: 0.5rem;
            } 
            @media (min-width: 320px) and (max-width: 767px) {
              margin-top: 0.5rem;
            }
          }
        }

        &:nth-child(3){
          & .footer__address-item-image{
            
            @media (min-width: 320px) and (max-width: 767px) {
              margin-top: -0.3rem;
            }
          }
        }

        &:nth-child(3){
          @media (min-width: 320px) and (max-width: 767px) {
          margin-top: 2.75rem;
            
          }
        }

        & a{
          text-decoration: none;
          outline: none;
        }
      
        &-image{
            margin-right: 1.25rem;
            margin-top: 0;
            max-height: 2rem;   

            &:nth-child(2){
              margin-top: 0;
            }
            
            
        }

        &-text{
          @include h4;
          color: $color-primary;
  
        }
      }
    }
    &__image{
      display: flex;
      padding-right: 0rem;
     
      
      &-img{
        width: 100%;
        
      }
      
      @media (min-width: 768px) and (max-width: 1200px) {
        margin: 3.8125rem auto 0 auto;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 2.5rem;
        
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        
      }
    }
  }

